@model List<Doctor>
<h2>Book Appointment</h2>
<div class="row">
@{
       
    for(int i = 0; i < Model.Count; i++)
    {
       <div class="col">
        <div class="card h-100" style="width: 18rem;">
            <img class="card-img-top" src="~/images/@Model[i].Img" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Model[i].Name</h5>
                <p class="card-text">Specialization: @Model[i].Specialization</p>
                <a href="/Doctor/bookAnAppointment?id=@(i+1)" class="btn btn-primary">Book Appointment</a>
            </div>
        </div>
       </div>

    }
    
}
</div>




  
      
       
  