@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Hospital</h1>
    Thank you for choosing our hospital for your healthcare needs.<br /><br />
    Here, we strive to provide the highest quality medical care to our patients.<br /><br />
    <p>Learn more about our services and specialties: </p><br />

    <table class="table table-sm">
        
        <tbody>
            <tr>

                <td>Internal Medicine</td>

            </tr>
            <tr>
               
                <td>Pediatrics</td>
               
            </tr>
            <tr>
                
                <td>Surgery</td>
               
            </tr>
           
        </tbody>
    </table>
    <p>If you have any questions or need assistance, please dont hesitate to contact us.</p>
</div>

